@model IEnumerable<Pulsenics.Models.User>

@{
    ViewData["Title"] = "Index";
}

@*This view is the landing page displaying a list of user profiles*@
<h1>Users Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit Profile Info</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">User Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete User</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="" asp-controller="File" asp-action="Index">Go To Home</a>

